.btn-twitter {
  background-color: #00acee;
  border-color: #009ad5;
  color: blue;
}

.btn-facebook{
  background-color: #4868ac;
  border-color: #314776;
  color: white;
}

.btn-pinterest {
  background-color: #b62f36;
  border-color: #b62f26;
  color: white;
}
